{% extends 'layout.html' %}
{% block title%}Inicio de Sesión{% endblock%}
{% block body %}
    <div class="container">
        <form action="/login" method='post'>
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">No compartiremos tu email con nadie</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="form-control">
                <option value="" selected disabled>Seleccione un rol</option>
                <option value="admin">Adiministrador</option>
                <option value="guest">Invitado</option>
            </select>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </form>

    </div>
{% endblock%}